<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>c371b436648c9fb95599b850a4084011</string>
	<key>privateKey</key>
	<string>13fbe4ab628927cd0ba40e3d8f55a1b00b4d4480</string>
</dict>
</plist>
